* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 240px 0;
}

.skills-padding {
    padding: 40px;
}